<mat-card>
  <h2>Create node configuration file</h2>
  <p><i>
    Create a node configuration file for {{server_url}}:{{server_port}}{{api_path}}
    by filling out the form below.
  </i></p>

  <h5>General settings</h5>
  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 20%;"/>
      <col span="1" style="width: 80%;"/>
    </colgroup>
    <tr>
      <td>Name:</td>
      <td>
        <mat-form-field>
          <mat-label>Configuration name</mat-label>
          <input matInput [(ngModel)]="config.name" placeholder="Configuration name"/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Environment:</td>
      <td>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="dropdownEnvs" ngbDropdownToggle>
            <span class="align-top">{{config.environment}}</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownEnvs">
            <div *ngFor="let env of ENVS">
              <button ngbDropdownItem (click)="selectEnv(env)">
                {{env}}
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Log level:</td>
      <td>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="dropdownLogLvls" ngbDropdownToggle>
            <span class="align-top">{{config.log_level}}</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownLogLvls">
            <div *ngFor="let lvl of LOG_LEVELS">
              <button ngbDropdownItem (click)="selectLogLvl(lvl)">
                {{lvl}}
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <p><b>TODO Implement setting task directory</b></p>

  <h5>API key</h5>
  <mat-checkbox [(ngModel)]="config.is_create_api_key">
    Generate a new API key
  </mat-checkbox>
  <div *ngIf="!config.is_create_api_key">
    <p>If you don't generate a new API key, you have to provide your current key</p>
    <mat-form-field style="width: 400px">
      <mat-label>API key</mat-label>
      <input matInput [(ngModel)]="config.api_key" placeholder="Enter your API key"/>
    </mat-form-field>
  </div>

  <h5>Databases</h5>
  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 20%;"/>
      <col span="1" style="width: 80%;"/>
    </colgroup>
    <tr *ngFor="let db of config.databases">
      <td>
        <mat-form-field>
          <mat-label>Label</mat-label>
          <input matInput [(ngModel)]="db.label" placeholder="Label"/>
        </mat-form-field>
      </td>
      <mat-form-field style="width: 400px">
        <mat-label>Path</mat-label>
        <input matInput [(ngModel)]="db.path" placeholder="Database path"/>
      </mat-form-field>
    </tr>
  </table>
  <button mat-button class="btn btn-dflt" (click)="addDatabase()">
    Add another database
  </button>

  <h5>VPN connection</h5>
  <p><i>
    A VPN connection is required if algorithms at different sites need to
    communicate with each other.
  </i></p>
  <mat-checkbox [(ngModel)]="config.is_configure_vpn">
    Configure VPN
  </mat-checkbox>
  <div *ngIf="config.is_configure_vpn">
    <p>Please provide the subnet for your VPN server</p>
    <mat-form-field>
      <mat-label>VPN subnet</mat-label>
      <input matInput [(ngModel)]="config.vpn_subnet" placeholder="VPN subnet"/>
    </mat-form-field>
  </div>

  <!-- TODO use node properties -->
  <h5>Encryption</h5>
  <div *ngIf="node.collaboration; else setEncryptionBlock">
    <div *ngIf="node.collaboration.encrypted; else notEncryptedBlock">
      <p>
        Your node is in an encrypted collaboration. Please provide the path
        to your private key file.
      </p>
      <mat-form-field>
        <mat-label>Private key file path</mat-label>
        <input matInput [(ngModel)]="config.private_key_path" placeholder="Private key file path"/>
      </mat-form-field>
    </div>
    <ng-template #notEncryptedBlock>
      <p>
        Your node is in a non-encrypted collaboration, so no encryption setup
        is necessary.
      </p>
    </ng-template>
  </div>
  <ng-template #setEncryptionBlock>
    <mat-checkbox [(ngModel)]="config.is_encrypted">
      Set up encryption
    </mat-checkbox>
    <div *ngIf="config.is_encrypted">
      <p>Please provide the path to your private key file</p>
      <mat-form-field>
        <mat-label>Private key file path</mat-label>
        <input matInput [(ngModel)]="config.private_key_path" placeholder="Private key file path"/>
      </mat-form-field>
    </div>
  </ng-template>

  <h5>Limit algorithm access</h5>
  <p><i>
    Set up limitations for which algorithms are allowed to be executed on your node.
  </i></p>
  <mat-checkbox [(ngModel)]="config.allow_all_algorithms" style="display: block;">
    Allow all
  </mat-checkbox>
  <div *ngIf="!config.allow_all_algorithms">
    <p>Please provide which algorithms you want to allow</p>
    <p>For example, add <code>harbor2.vantage6.ai/algorithms/summary</code>
       if you want to allow access for that docker image
    </p>
    <p>You can also specify a pattern such as <code>^harbor2.vantage6.ai/*</code> to allow
       all algorithms hosted on harbor2.vantage6.ai.
    </p>
    <div *ngFor="let algo of config.allowed_algorithms">
      <!-- <button>{{algo}}</button> -->
      <mat-form-field>
        <mat-label>Algorithm / algorithm set</mat-label>
        <input matInput [(ngModel)]="algo.algo_exp" placeholder="Algorithm"/>
      </mat-form-field>
    </div>
    <button mat-button class="btn btn-dflt" (click)="addAlgorithm()">
      Add another allowed algorithm
    </button>
  </div>

  <!-- TODO add option to add docker services? -->
  <button mat-button class="btn btn-save" (click)="download()" style="margin-top: 20px">
    Download configuration file
  </button>
  <button mat-button class="btn btn-dflt" (click)="cancel()">
    Cancel
  </button>
</mat-card>